.dashboard-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 220px;
	background-image: linear-gradient(to left bottom, #dc4805, #de5011, #e0571b, #e15e24, #e3652c);
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	z-index: -1;
}

.backend-menu {
    width: 28px;
    height: 28px;
	transition: 0.8s;
	margin-top: 2.5px;
}

.backend-menu .menu-sticks {
    width: 28px;
    height: 3px;
    border-radius: 3px;
	transition: 0.8s;
    background-color: #DC4805;
}

.menu-sticks::before,
.menu-sticks::after {
	content: '';
	position: absolute;
	width: 28px;
    height: 3px;
    background-color: #DC4805;
    border-radius: 3px;
	transition: 0.8s;
}

.menu-sticks::before {
	transform: translateY(-9px);
}

.menu-sticks::after {
	transform: translateY(9px);
}

.backend-menu.open .menu-sticks {
	background: transparent;
}

.backend-menu.open .menu-sticks::before {
	transform: rotate(45deg)
}

.backend-menu.open .menu-sticks::after {
	transform: rotate(-45deg)
}

.icon-circle {
	width: 35px; 
	height: 35px; 
	line-height: 35px;
}

.backend-search-input {
	border-top-right-radius: 0 !important; 
	border-bottom-right-radius: 0 !important;
}

.backend-search-button {
	border-top-left-radius: 0 !important; 
	border-bottom-left-radius: 0 !important;
	height: 45px;
}

.backend-search-button:hover {
	opacity: 0.5;
}

.actions-icon {
	width: 15px !important;
	height: 15px !important;
	line-height: 15px !important;
}

.pop-up-badge {
	top: -4px;
	right: -4px;
	width: 15px;
	height: 15px;
	font-size: 10px;
	line-height: 15px;
}

.icon-wrap {
	width: 48px; 
	height: 48px; 
	line-height: 48px;
}

.panel-icons {
	width: 45px; 
	height: 45px;
	line-height: 45px;
	border-radius: 50% !important;
}

.top-right-bar {
	height: 48px; 
	line-height: 48px;
}

.page-link {
	height: 40px !important;
}

.right-sidebar {
	height: 100vh;
	z-index: 100;
	padding-top: 60px;
	top: 0;
	bottom: 0;
	right: -100%;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.right-sidebar .inner {
	/*width: 25vw;*/
	height: 100vh;
	z-index: 110;
	overflow-y: scroll;
}

.inner::-webkit-scrollbar {
    display: none;
}

.sidebar-right {
	right: 0;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

@media (max-width: 575.98px) {
	.dashboard-wrapper:before {
		height: 290px;
	}

	.right-sidebar .inner {
		/*width: 50vw;*/
	}

}