.navbar-link:hover {
	color: #2D641F;
}

.navbar-right {
	/*margin-top: 15px !important;*/
}

.banner-circle {
	width: 10px;
	height: 10px;
}

/*.logo {
	width: 150.25px;
	height: 28px;
	margin-top: -15px !important;
}*/

.care {
	font-family: monospace;
}

.home-banner {
	padding: 160px 0 80px;
}

.apply-banner, 
.terms-banner,
.success-banner {
	padding: 140px 0 10px;
}

.apply-section, 
.terms-section,
.success-section{
	padding: 80px 0 100px;
}

.login-section {
	padding: 140px 0 100px;
}

.banner-left h1 {
	font-size: 56px;
}

.banner-left .icon {
	width: 24px;
	height: 24px;
	line-height: 24px;
}

.mission-section {
	padding: 100px 0;
}

.mission-section:before {
	content: '';
	top: 0;
	right: 0;
	background-image: url(../images/banners/overlay.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	position: absolute;
	z-index: 1;
	width: 50%;
	height: 50%;
}

.generic-section {
	padding: 125px 0 120px;
}

.generic-section .icon {
	width: 55px;
	height: 55px;
	line-height: 55px;
}

.action-section {
	padding: 140px 0;
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.reviews-section {
	padding: 120px 0;
}

.bottom-section {
	padding: 110px 0 50px;
}

.bottom-links h3 {
	border-bottom: 1px solid #666666;
}

@media (max-width: 768px) {
	.navbar-center {
		display: none !important;
	}

	.navbar-left, .navbar-right {
		margin: 18px 0 20px !important;
	}

}

@media (min-width: 768.98px) {
	.navbar-right {
		display: none !important;
	}

}

@media (max-width: 425px) {
	.navbar-wrapper {
		padding: 0 !important;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) and (min-width: 768px) {}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}