.navbar-wrapper {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-link:hover {
	color: #2D641F;
}

.navbar-menu {
    width: 28px;
    height: 28px;
	transition: 0.8s;
}

.navbar-menu .menu-lines {
    width: 28px;
    height: 3px;
    border-radius: 3px;
	transition: 0.8s;
    background-color: #666666;
}

.menu-lines::before,
.menu-lines::after {
	content: '';
	position: absolute;
	width: 28px;
    height: 3px;
    background-color: #666666;
    border-radius: 3px;
	transition: 0.8s;
	left: 0;
	right: 0;
}

.menu-lines::before {
	transform: translateY(-9px);
}

.menu-lines::after {
	transform: translateY(9px);
}

.navbar-menu.slide .menu-lines {
	background: transparent;
}

.navbar-menu.slide .menu-lines::before {
	transform: rotate(45deg)
}

.navbar-menu.slide .menu-lines::after {
	transform: rotate(-45deg)
}

.logo {
	width: 150.25px;
	height: 28px;
	margin-top: -15px !important;
}

.home-banner,
.about-banner {
	padding: 160px 0 80px;
}

.apply-banner, 
.terms-banner,
.success-banner {
	padding: 140px 0 10px;
}

.apply-section, 
.terms-section,
.success-section{
	padding: 80px 0 100px;
}

.login-section {
	padding: 140px 0;
}

.banner-left h1 {
	font-size: 55px;
}

.about-vision,
.about-mission {
	padding: 130px 0 120px;
}

.mission-section {
	padding: 100px 0;
}

.mission-section .card {
	height: 450px;
}

.about-legal {
	padding: 120px 0;
}

.mission-section:before {
	content: '';
	top: 0;
	right: 0;
	background-image: url(../images/banners/overlay.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	position: absolute;
	z-index: 1;
	width: 50%;
	height: 50%;
}

.generic-section {
	padding: 125px 0 120px;
}

.generic-section .icon {
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.action-section {
	padding: 140px 0;
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.reviews-section {
	padding: 120px 0;
}

.bottom-section {
	padding: 100px 0 0;
}

.bottom-links .social-icons {
	width: 45px;
	height: 45px;
	line-height: 45px;
}

.gallery img {
	height: 192px;
}

@media (max-width: 768px) {

	.navbar-center {
		display: none;
	}

	.navbar-mobile {
		height: 100vh;
		z-index: 5;
		top: 0;
		bottom: 0;
		transition: 0.8s;
		right: -100%;
	}

	.navbar-mobile .inner {
		z-index: 6;
		height: 100vh;
		overflow-y: scroll;
	}

	.navbar-mobile ul {
		padding-top: 100px;
	}

	.navbar-toggle {
		right: 0;
		transition: 0.8s;
	}

	.banner-right {
		display: none;
	}

	.mission-section .card {
		height: 420px;
	}

}

@media (min-width: 768.98px) {
	.navbar-right,
	.navbar-mobile {
		display: none;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.navbar-wrapper {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.navbar-mobile {
		width: 100vw;
	}

	.navbar-mobile ul {
		padding-top: 120px;
	}

	.navbar-left {
		padding-left: 0;
	}

	.navbar-right {
		padding-right: 0;
	}

	.generic-section .icon {
		display: none;
	}
}

@media (max-width: 375px) {
	.navbar-mobile ul {
		padding-top: 105px;
	}
}

@media (max-width: 325px) {
	.navbar-mobile ul {
		padding-top: 90px;
	}
}
